<!DOCTYPE html>
<html lang="en">
<head>
  <title>Number Guess Game</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <style>
    /* Style the body */
    body {
      font-family: Arial,serif;
      margin: 0;
    }

    /* Header/Logo Title */
    .header {
      padding: 60px;
      text-align: center;
      background: #8B8C8C;
      color: #F8F1E0;
      font-size: 30px;
    }

    /* Page Content */
    .content {
      padding: 200px;
      text-align: center;
      background: #BCCBB0;
      color: #606F65;
      font-size: 30px;
    }

    /* Button */
    .button {

    }
  </style>
</head>
<body>

<div class="header">
  <h1>Number Guessing Game</h1>
  <p>Good Luck!</p>

  <!--/*@thymesVar id="bound" type="edu"*/-->
  <p th:text="${bound}"></p>
</div>

<script>

</script>


<div class="content">
  <h1>Please enter the Lower Bound and Upper Bound</h1>
  <form action="/setBound" method="POST">
    <!--/*@thymesVar id="currId" type="edu"*/-->
    <input type="hidden" th:value="${currId}" name="currId"/>
    <label for="lowerBound"></label><input id="lowerBound" name="lowerBound" placeholder="Enter lower" type="text"><br>
    <label for="upperBound"></label><input id="upperBound" name="upperBound" placeholder="Enter upper" type="text"><br>
    <div class="button">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>


</body>
</html>

