<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
  <title>Page title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* Style the body */
    body {
      font-family: Arial;
      margin: 0;
    }

    /* Header/Logo Title */
    .header {
      padding: 60px;
      text-align: center;
      background: #8B8C8C;
      color: #F8F1E0;
      font-size: 30px;
    }

    /* Page Content */
    .content {
      padding:200px;
      text-align: center;
      background: #BCCBB0;
      color: #606F65;
      font-size: 30px;
    }

    /* Button */
    .button{

    }
  </style>
</head>
<body>

<div class="header">
  <h1>Number Guessing Game</h1>
  <p>You guess a Number!</p>
</div>

<script>

</script>


<div class="content">
  <h1>The game is about to begin...</h1>
  <form action="/guess">
    <input type="text" id="userId" name="userId" placeholder="Enter id"><br>
    <input type="text" id="lowerBound" name="lowerBound" placeholder="Enter lower"><br>
    <input type="text" id="upperBound" name="upperBound" placeholder="Enter lower"><br>
    <div class="button">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>


</body>
</html>
